@charset "utf-8";
html{
	Background-color:#06F;	
}
#Pageheader{
	background-color:#000;
	color:#FFF;
	font-family:Palace Script MT;
	text-align:left;
	padding:0.5%;
	font-size:40px;
	border-radius: 8px;
}

#title{
	margin-left: 13%;
	margin-right: 13%;
}

#pagename{
	margin-left: 33%;
	margin-right: 33%;
	font-size: 110%;
	margin-top: -2%;
}

.logo{
	float:left;
	margin-right: 73%;
	margin-left: 73%;
	margin-top:-10%;
}

.navbar{
	width: 60%;
    height: 100%;
    font-size: 16px;
    font-family: Arial;
    text-align: center;
    background-color:#666;
    border-radius: 8px;
	margin-left: 20%;
	margin-right: 20%;
}

.navbar ul {
    height: auto;
	width:auto;
    padding: 30px;
    margin: 0px;
}

.navbar li { 
	display: inline; 
	padding: 15px; 
	border:#000;
	border-style:solid;
	background-color:#000;
	border-radius: 5px;
}

.navbar a {
	color:#FFF;
	text-decoration:none;
	font-weight: bold;
}

.pagebody{
	padding-top:2%;
}


.artist {
	border-color:#000;
	border-radius: 8px;
	background-color:#FFF;
	border-style:solid;
	width:61%;
	height:100%;	
	border-width:4px;
	float:left;
	text-align:left;
}

#artisttitle{
	font-family:calibri;
	font-style:italic;
	font-size:50px;
	text-align:center;
}

#centered1 {
	text-align:center;
}

.sidebar{
	border-color:#000;
	border-radius: 8px;
	background-color:#FFF;
	border-style:solid;
	width:35%;
	height:100%;	
	border-width:4px;
	float:right;
}

.bandimg {
	width:50%;	
	float:left;
	margin-left:1%;
	padding:2%;
	border-color:#0C0;
}

.footer{
	border-color:#000;
	border-radius: 8px;
	background-color:#FFF;
	border-style:solid;
	width:100%;		
	border-width:4px;
	float:left;
	text-align:left;
}

.footerouter{
	margin-top: 40%;
	margin-bottom:40%;
	width:90%;
	margin-left: 5%;
}

#TNSlogo1{
	Float:left;
	padding:1%;
}

#TNSlogo2{
	float:left;
	padding:1%;
}

#contdet{
	font-family:calibri;
	font-style:italic;
	font-size:30px;
	text-align:center;
}