* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #cccccc;
}

#main-wrapper {
	width: 70%;
	margin: 0 auto;
}

header {
	background: #333333;
	padding: 1% 0 0 0;
}

.logo a {
	width: 147px;
	height: 98px;
	text-indent: -9999%;
	background: url(logo.png);
	background-repeat: no-repeat;
	display: block;
	margin: 0 0 1% 4%;
}

.primary ul {
	background: #666666;
}

.primary ul li {
	padding: 1% 1% 1% 1%;
	display: inline-block;
}

.primary ul li a, a:link {
	text-decoration: none;
	color: #FFFFFF;
}

.primary ul li a:hover {
	color: #E7590B;
	font-weight: bold;
}

#main-content {
	background: #E5E5E5;
	float: left;
	width: 66%;
	padding: 1% 1% 1% 1%;
	color: #000000;
	margin-bottom: 2%;
}

aside {
	width: 33%;
	background: #E5E5E5;
	float: right;
}

.side-box {
	padding: 0% 3% 3% 3%;
}

.loginError {
	color: #F00000;
}

footer {
	clear: both;
	background: #333333;
	padding: 1% 1% 1% 1%;
	color: #FFFFFF;
}

footer a, a:link {
	text-decoration: none;
	color: #FFFFFF;
}
footer a:hover {
	font-weight: bold;
	color: #E7590B;
}